.questionContainer {
    width: 85%;
    background-color: #E82E81;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-family: Concert One;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.question {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
}

.ansver {
    margin-top: 5px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 15px;
}

.questionText {
    padding-left: 17px;
    width: 80%;
}

.questionArrow {
    width: 20%
}